<div class="page">
  <header class="site-header">
    <h1>This is Simple Article Portal</h1>
  </header>
  <div class="container">
    <div class="article-list">
      {{ page.content }}
    </div>
  </div>
</div>
